<main>

    <div id="main" class="db">
        <div class="content">
     {{ content }}
        </div>
    </div>
    <div class="fixed-action-btn to-top">
        <a href="#top" id="toTop" class="btn-floating btn-large waves-effect waves-light" style="display: none;"><i
                class="material-icons">expand_less</i></a>
    </div>
    <div class="fixed-action-btn body-to-top">
        <a href="#top" id="bodyToTop" class="btn-floating btn-large waves-effect waves-light" style="display: none;"><i
                class="material-icons">expand_less</i></a>
    </div>
</main>