<main>
    <div class="db">
        <div class="content">
            <div class="row">
                <div class="toc col s12 m9 l10">
                 {{ content }}
                </div>
                <div class="col hide-on-small-only m3 l2">
                    <div class="toc-wrapper pin-top" style="top: 0px;">
                        <div id="toc"></div>
                    </div>
                </div>
            </div>

        </div>
    
    </div>
    <div class="fixed-action-btn">
        <a href="#top" id="toTop" class="btn-floating btn-large waves-effect waves-light" style="display: none;"><i
                class="material-icons">expand_less</i></a>
    </div>
</main>