@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://domhnallohanlon.com/thunkable_extensions/assets/fonts/material_icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://domhnallohanlon.com/thunkable_extensions/assets/fonts/material_icons/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://domhnallohanlon.com/thunkable_extensions/assets/fonts/material_icons/MaterialIcons-Regular.woff) format('woff'),
    url(https://domhnallohanlon.com/thunkable_extensions/assets/fonts/material_icons/MaterialIcons-Regular.ttf) format('truetype');
}