---
layout: default
---
<br>
<div class="b e">
    {% for post in site.posts %}
    {% unless post.image %}
        <div class="d hx hf gu gallery-item gallery-expand 
            {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
            {% assign year = y %}
            {{ y }}
         ce" data-url="{{ post.url | prepend: site.baseurl }}"><div class="placeholder">
            <div class="gallery-curve-wrapper">
              <div class="gallery-header">
                <span>{{ post.title }}</span>
                <p class="gray-text text-lighten-4" style="margin-bottom: 0px;">
                {% if site.manyAuthors %}
<img  data-position="bottom" data-delay="50" data-tooltip="{% if post.author %}{{ post.author }}{% else %}{{ site.defaultAuthor }}{% endif %}"  class="right tooltipped" style="width: 18px;" src="{% if post.author %}{% for author in site.data.authors %}{% if author.name == post.author%}{{ author.image }}{%endif%}{%endfor%}{% else %}{{ site.defaultAuthorImage }}{% endif %}" alt="">
                {%else%}
<img  data-position="bottom" data-delay="50" data-tooltip="{{ site.defaultAuthor }}"  class="right tooltipped" style="width: 18px;" src="{{ site.defaultAuthorImage }}" alt="">
                {% endif %}
                    {{ post.date | date: "%b %-d, %Y" }}</p>
                <hr>
                <div id="postsContent">{{ post.excerpt }}</div>
              </div>
              {% if site.gallery %}
              <div class="gallery-body">
                <div class="title-wrapper">
                  <h3>{{ post.title }}</h3>
                </div>
                <div id="postsContent">
                    {{ post.content }}
                </div>
              </div>
              {% endif %}
              <div class="gallery-action">
                <!--<a class="btn-floating btn-large waves-effect waves-light pink"><i class="material-icons">favorite</i></a>-->
              </div>
            </div>
          </div>
        </div>
    {% else %}
    <div class="d hx hf gu gallery-item gallery-expand 
            {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
            {% assign year = y %}
            {{ y }}
     ce" data-fillscreen="true" data-url="{{ post.url | prepend: site.baseurl }}">
        <div class="placeholder">
            <div class="gallery-curve-wrapper">
                <a class="gallery-cover gray" style="height: 300px;">
                    <img class="lazy" data-original="{{ post.image | prepend: site.baseurl }}" src="" crossorigin="anonymous" alt=" ">
                    <div class="center gradient">
                        <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-red-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="gallery-header">
                    <span>{{post.title}}</span>
                    <p class="post-data datagray-text text-lighten-4" style="margin-bottom: 0px;">
                {% if site.manyAuthors %}
<img  data-position="bottom" data-delay="50" data-tooltip="{% if post.author %}{{ post.author }}{% else %}{{ site.defaultAuthor }}{% endif %}"  class="right tooltipped" style="width: 18px;" src="{% if post.author %}{% for author in site.data.authors %}{% if author.name == post.author%}{{ author.image }}{%endif%}{%endfor%}{% else %}{{ site.defaultAuthorImage }}{% endif %}" alt="">
                {%else%}
<img  data-position="bottom" data-delay="50" data-tooltip="{{ site.defaultAuthor }}"  class="right tooltipped" style="width: 18px;" src="{{ site.defaultAuthorImage }}" alt="">
                {% endif %}
                        {{ post.date | date: "%b %-d, %Y" }}</p>
                </div>
                {% if site.gallery %}
                <div class="gallery-body">
                    <div id="postsContent" class="title-wrapper">
                        <h3>{{post.title}}</h3>
                    </div>
                    <div id="postsContent">
                    {{ post.content }}
                    </div>
                </div>
                {% endif %}
                <div class="gallery-action">
                    <!--<a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>-->
                </div>
            </div>
        </div>
    </div>
    {% endunless %}
    {% endfor %}
</div>