---
layout: default
---
<br>

    
    <div class="row">
    {% for link in site.data.links %}
      <div class="col s12 m6 l4">
        <div class="card-panel white linkCard hoverable">
            <div class="row linkContent">
                <!--<div class="col center linkContent">-->
                    <img class="left linkContent" src="{{ link.image }}">
                <!--</div>-->
                <div class="col linkContent">
                    <a class="black-text" href="{{ link.url }}" title="{{ link.name }}" target="_blank">
                    <p class="linkTitle">{{ link.name }}</p>
                    <span>{{ link.describe }}</span>
                    </a>
                </div>
            </div>
        </div>
      </div>
  {% endfor %}
    </div>
